.region-content ul.pager_for_node {
  margin: auto;
  padding: 0px 20px;
  text-align: center;
}

ul.pager_for_node li {
  margin: 0;
  padding: 10px;
  display: inline;
  width: auto;
  list-style-type: none;
  list-style-image: none;
  background: none;
  white-space: nowrap;
}

.pager_for_node li.first.empty,
.pager_for_node li.last.empty {
  display: none;
}

.pager_for_node li.previous.empty,
.pager_for_node li.next.empty {
  color: LightGrey;
}
