{#
/**
 * @file
 * Default theme implementation for the pager_for_node pager.
 *
 * Available variables:
 * - node: The current node.
 * - first: The first pager link.
 * - prev: The previous pager link.
 * - random: The random pager link.
 * - next: The first pager link.
 * - last: The last pager link.
 *
 * @see template_preprocess_pager_for_node()
 *
 * @ingroup themeable
 */
#}
<ul class="pager_for_node">
  {% if first %}
    <li class="pager_for_node-first">{{ first }}</li>
  {% endif %}
  {% if prev %}
    <li class="pager_for_node-previous">{{ prev }}</li>
  {% endif %}
  {% if random %}
    <li class="pager_for-node-random">{{ random }}</li>
  {% endif %}
  {% if next %}
    <li class="pager_for_node-next">{{ next }}</li>
  {% endif %}
  {% if last %}
    <li class="pager_for_node-last">{{ last }}</li>
  {% endif %}
</ul>
